body {
    color: #111;
    background-color: #FAFAFA;
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
    display: block;
}

img {
    padding: 0;
    margin: 0;
    display: block;
}

button {
    display: block;
    cursor: pointer;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
}
/* header */
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 14px;
}
.header-logo{
    display: flex;
    gap: 4px;
    align-items: center;
}
.header-logo-svg{
    display: block;
}
.header-logo-text{
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.03em;
    color: #111;
}
.header-span-logo{
    font-style: normal;
}
.header-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}
.header-button-svg{
    stroke: #111;
}
.header-nav{
    display: none;
}
@media screen and (min-width: 768px){
    .container{
        max-width: 768px;
        padding: 0 32px;
    }
    .header-container{
        padding-top: 28px;
        padding-bottom: 28px;
    }
    .header-button{
        display: none;
    }
    .header-nav{
        display: flex;
        gap: 48px;
        align-items: center;
    }
    .header-nav-ul{
        display: flex;
        gap: 24px;
        align-items: center;
    }
    .header-ul-a-nav{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: -0.02em;
        color: #111;
    }
    .header-nav-ul-icons{
        display: flex;
        gap: 18px;
        align-items: center;
    }
    .header-nav-ul-icons-svg{
        stroke: #111;
        fill: transparent;
    }
    .header-nav-ul-icons-a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
    .header-logo-text{
        font-size: 18px;
        line-height: 1.11;
    }
    .header-logo-svg{
        width: 24px;
        height: 24px;
    }
    .header-nav{
        gap: 90px;
    }
}
/* Section van */
.section-van{
    background-color: #1E1823;
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)), image-set(url(../images/mobile/chocolate-covered.jpg) 1x, url(../images/mobile/chocolate-covered@2.jpg) 2x);
    border-radius: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    max-width: 375px;
}
.container-section-van{
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 32px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.h1-section-van{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: #fff;
    width: 250px;
}
.button-buy-now{
    border-radius: 100px;
    min-width: 120px;
    height: 41px;
    background-color: #fd9222;
    border: transparent;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}
.how-made{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 100px;
    width: 159px;
    height: 41px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}
.section-van-link{
    display: flex;
    gap: 14px;
    margin-bottom: 32px;
}
.scroll-down-tex{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    color: #fff;
}
.a-svg-section-van{
    width: 28px;
    height: 28px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.svg-section-van{
    fill: #fd9222;
}
.scroll-div{
    display: flex;
    align-items: center;
    gap: 12px;
}
.section-van{
    margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
    .section-van {
        background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)), image-set(url(../images/tables/chocolate-covered.jpg) 1x, url(../images/tables/chocolate-covered@2.jpg) 2x);
        max-width: 768px;
    }
    .container-section-van{
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
    }
    .div-naigation-sec-van{
        display: flex;
        justify-content: space-between;
    }
    .container-section-van{
        height: 890px;
    }
    .h1-section-van{
        width: 404px;
        font-size: 28px;
    }
    .section-van{
        margin-bottom: 80px;
    }
}
@media screen and (min-width: 1200px) {
    .section-van {
        background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)), image-set(url(../images/decstop/chocolate-covered.jpg) 1x, url(../images/decstop/chocolate-covered@2.jpg) 2x);
        max-width: 1200px;
    }


    .div-naigation-sec-van {
        display: flex;
        justify-content: space-between;
    }

    .container-section-van {
        height: 600px;
    }
    .section-van {
        margin-bottom: 100px;
    }
}
/* Section Two */
.container-section-two{
    background-color: #1E1823;
}
.p-section-two{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}
.h-tri-section-two{
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 18px;
}
.svg-section-two{
    fill: #FD9222;
}
.div-svg-sec-two{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 365px;
    margin-bottom: 22px;
}
.ul-section-two{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.section-two{
    margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
    .ul-section-two{
        padding-top: 50px;
        padding-bottom: 50px;
        gap: 32px;
    }
    .ul-section-two li{
        flex-basis: calc((100% - 32px) / 2);
    }
    .section-two {
        margin-bottom: 80px;
    }
}
@media screen and (min-width: 1200px){
    .ul-section-two{
        gap: 70px;
        flex-wrap: nowrap;
    }
    .ul-section-two li{
        flex-basis: calc((100% - 140px) / 3);
        position: relative;
    }
    .ul-section-two li::before{
        content: "";
        border: 1px solid rgba(255, 255, 255, 0.5);
        width: 0px;   
        height: 124px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    .p-section-two{
        width: 277px;
    }
    .ul-section-two li:last-child::before {
        display: none;
    }
    .section-two {
        margin-bottom: 100px;
    }
}
/* Section Tri */
.h-two-sec-tri{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111;
    text-align: center;
    width: 283px;
    margin: 0 auto;
    margin-bottom: 24px;
}
.span-section-tri{
    color: #fd9222;
}
.p-section-tri{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-align: center;
    color: #111;
    width: 305px;
    margin: 0 auto;
    margin-bottom: 32px;
}
.section-tri-ul{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.img-section-tri{
    padding-top: 28px;
    display: block;
    margin: 0 auto;
}
.section-tri-li{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 15px;
}
.section-tri-h-tri{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 28px;
    padding-left: 28px;
}
.section-tri-ul .section-tri-li:nth-child(4n+1) {
    background-color: #fd9222;
}

.section-tri-ul .section-tri-li:nth-child(4n+2) {
    background-color: #fff;
    border: 1px solid #fd9222;
}

.section-tri-ul .section-tri-li:nth-child(4n+3) {
    background-color: #1e1823;
}

.section-tri-ul .section-tri-li:nth-child(4n+4) {
    background-color: #fff;
    border: 1px solid #fd9222;
}

.section-tri-ul .section-tri-li:nth-child(4n+1) .section-tri-h-tri {
    color: #fff;
}

.section-tri-ul .section-tri-li:nth-child(4n+2) .section-tri-h-tri {
    color: #111111;
}

.section-tri-ul .section-tri-li:nth-child(4n+3) .section-tri-h-tri {
    color: #fff;
}

.section-tri-ul .section-tri-li:nth-child(4n+4) .section-tri-h-tri {
    color: #111111;
}
.section-tri{
    margin-bottom: 60px;
}
.section-tri-info-div{
    display: none;
}
@media screen and (min-width: 768px) {
    .h-two-sec-tri{
        width: 380px;
        font-size: 24px;
        line-height: 1.17;
        margin-bottom: 28px;
    }
    .p-section-tri{
        width: 430px;
        margin-bottom: 50px;
    }
    .section-tri-ul {
        gap: 32px;
    }
    .section-tri-li{
        flex-basis: calc( (100% - 32px) / 2);
    }
    .section-tri-ul .section-tri-li:nth-child(2){
        order: 3;
    }
        .section-tri-ul .section-tri-li:nth-child(3) {
        order: 4;
    }
    .section-tri {
        margin-bottom: 80px;
    }
}
@media screen and (min-width: 1200px) {
    .section-tri-ul {
        gap: 19px;
    }
    .section-tri-li{
        flex-basis: calc( (100% - 57px) / 4);
        position: relative;
    }
    .section-tri-ul .section-tri-li:nth-child(2){
        order: 2;
    }
    .section-tri-ul .section-tri-li:nth-child(3) {
        order: 3;
    }
    .section-tri-ul .section-tri-li:nth-child(4) {
        order: 4;
    }
    .section-tri{
        margin-bottom: 100px;
    }
    .section-tri-info-div {
        display: block;
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
        position: absolute;
        background-color: #fff;
        width: 100%;
        /* height: 100%; */
        /* width: 270px; */
        height: 270px;
        border-radius: 15px;
        padding: 20px;
        overflow: hidden;
        transition: transform 550ms cubic-bezier(0.4, 0, 0.2, 1), visibility 550ms cubic-bezier(0.4, 0, 0.2, 1), opacity 550ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .h-tri-info{
        font-weight: 600;
        font-size: 18px;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: #111;
        margin-bottom: 8px;
    }
    .div-info-p{
        display: flex;
        gap: 6px;
        margin-bottom: 14px;
    }
    .p-info-van{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 35px;
        padding: 6px 16px;
        background-color: #fd9222;
        color: #fff;
        font-weight: 400;
        font-size: 10px;
        line-height: 1.2;
    }
    .p-info-two{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 35px;
        padding: 6px 16px;
        background-color: transparent;
        color: #111;
        border: 1px solid #fd9222;
        font-weight: 400;
        font-size: 10px;
        line-height: 1.2;
    }
    .info-text-p{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.02em;
        color: #111;
        max-height: 162px;
    }
    .section-tri-li:hover .section-tri-info-div{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    .section-tri-ul .section-tri-li:nth-child(4n+2):hover, .section-tri-ul .section-tri-li:nth-child(4n+1):hover, .section-tri-ul .section-tri-li:nth-child(4n+3):hover, .section-tri-ul .section-tri-li:nth-child(4n+4):hover{
        border: none;
        background-color: transparent;
    }
}
/* Section For */
.h-two-sec-for{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
    margin-bottom: 32px;
}
.span-section-for{
    color: #fd9222;
}
.img-section-for{
    margin-bottom: 20px;
}
.div-text-sec-for{
    background-color: #fff;
    border-radius: 15px;
    padding: 20px 14px;
}
.h-tri-section-for{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    color: #111;
    margin-bottom: 20px;
}
.ul-section-for{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.ul-section-for li{
    padding-left: 16px;
    position: relative;
}
/* .ul-section-for li{
    display: flex;
    gap: 8px;
}
.svg-sec-for{
    fill: #4c4c4c;
    border: 1px solid #eceded;
    border-radius: 100%;
    flex-shrink: 0;
} */
.ul-section-for li::before{
    content: "";
    background-image: url(../images/Ellipse.svg);
    width: 8px;
    height: 8px;
    position: absolute;
    top: 5%;
    left: 0;
}
.ul-section-for p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #111;
}
.section-for{
    margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
    .img-section-for{
        width: 614px;
        height: 400px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .div-text-sec-for{
        width: 614px;
        margin: 0 auto;
        padding: 32px;
    }
    .h-tri-section-for{
        width: 320px;
    }
    .ul-section-for p{
        width: 406px;
    }
    .section-for{
    margin-bottom: 80px;
    }
}
@media screen and (min-width: 1200px) {
    .text-and-img-div{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .img-section-for{
        width: 600px;
        height: 400px;
        margin: 0;
    }
    .div-text-sec-for{
        height: 400px;
        margin: 0;
    }
    .ul-section-for p{
        width: 367px;
    }
    .ul-section-for{
        gap: 24px;
    }
    .section-for{
    margin-bottom: 100px;
    }
}
/* Section five */
.h-two-section-five{
    font-weight: 600;
    font-size: 20px;

    /* line-height: 24px; */ 
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
    margin-bottom: 74px;
}
.h-two-section-five span{
    color: #fd9222;
}
.girl-sec-five h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #111;
    padding-top: 56px;
    margin-bottom: 24px;
}
.girl-sec-five p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
    width: 260px;
    margin: 0 auto;
    padding-bottom: 42px;
}
.girl-sec-five{
    background-color: #fff;
    border: 1px solid rgba(17, 17, 17, 0.1);
    box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
    border-radius: 15px;
    position: relative;
    height: 200px;
}
.img-sec-five{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button-sec-five{
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #111;
    border: 1px solid #fd9222;
    border-radius: 100px;
    padding: 12px 28px;
    width: 165px;
    height: 41px;
    background-color: transparent;
    margin: 0 auto;
    margin-top: 32px;
}
.section-five{
    margin-bottom: 60px;
}
.li-sec-five{
    display: none;
}
.li-sec-five-two{
    display: none;
}
@media screen and (min-width: 768px) {
    .li-sec-five {
        display: block;
    }
    .ul-section-five{
        display: flex;
        gap: 16px;
    }
    .ul-section-five li{
        flex-basis: calc( (100% - 16px) / 2 );
    }
    .section-five{
        margin-bottom: 80px;
    }
}
@media screen and (min-width: 1200px){
    .li-sec-five-two{
        display: block;
    }
    .ul-section-five{
        gap: 24px;
    }
    .ul-section-five li{
        flex-basis: calc( (100% - 48px) / 3 );
    }
    .section-five{
        margin-bottom: 100px;
    }
}
/* Footer */
.container-footer{
    background-color: #1E1823;
    padding-top: 32px;
    padding-bottom: 32px;
}
.p-footer{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #fff;
    width: 260px;
}
.span-footer{
    color: #fd9222;
}
.text-div-footer{
    margin-bottom: 32px;
}
.address-footer-p{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    color: #fff;
    margin-bottom: 14px;
    font-style: normal;
}
.footer-address-a{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: #fff;
    font-style: normal;
}
.address-ul-footer{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.address-footer{
    margin-bottom: 64px;
}
.a-nav-footer{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14286;
    letter-spacing: -0.02em;
    color: #fff;
}
.nav-ul-footer{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 32px;
}
.form-footer{
    display: flex;
    gap: 8px;
}
.input-email-footer{
    width: 207px;
    height: 45px;
    border: 1.50px solid rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    padding-left: 18px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-email-footer:active, .input-email-footer:focus{
    color: #fff;
    border-color: #FD9222;
}
.button-form-footer{
    border-radius: 100px;
    padding: 14px 26px;
    min-width: 120px;
    height: 45px;
    background-color: #fd9222;
    border: none;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #fff;
}
@media screen and (min-width: 768px) {
    .container-footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footer-address-div{
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
        margin-bottom: 24px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .address-ul-footer{
        border: none;
        padding-bottom: 0;
    }
    .address-footer{
        margin: 0;
    }
    .text-div-footer{
        margin: 0;
    }
    .footer-navigation{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-ul-footer{
        flex-direction: row;
        gap: 16px;
        margin: 0;
    }
    .not-display{
        display: none;
    }
    .input-email-footer{
        min-width: 232px;
    }
    .button-form-footer{
        min-width: 128px;
    }
}
/* Menu-Burger */
.burger-menu-div{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #1E1823;
    opacity: 0;
    visibility: hidden;
}
.burger-menu-div.is-open{
    opacity: 1;
    visibility: visible;
}
.button-close-burger{
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: transparent;
    position: absolute;
    top: 20px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-burger{
    position: relative;
    height: 100%;
}
.svg-close-burger{
    stroke: #fff;
}
.burger-nav-a{
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #fff;
}
.burger-nav-a-start{
    color: #fd9222;
}
.div-link-burger{
    padding-top: 136px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}
.div-link-burger nav ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.div-link-burger ul{
    display: flex;
    flex-direction: row;
    gap: 18px;
}
.burger-svg-icon{
    stroke: #fff;
}
/* Modal */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4)
}
.container-modal{
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    min-height: 619px;
    padding: 32px 24px;
}
.close-modal-but{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
}
.close-modal-svg{
    stroke: #111111;
}
.p-text-modal{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111; 
    width: 255px;
    margin-bottom: 32px;   
}
.orenj-color{
    color: #FD9222;
}
.label-modal{
    font-weight: 400;
    font-size: 13px;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
    margin-bottom: 4px;
}
.input-modal{
    padding-left: 43px;
    background-color: transparent;
    width: 263px;
    height: 45px;
    outline: transparent;
    border: 1.50px solid rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
    transition: border 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.input-modal:focus{
    border: 1.50px solid #fd9222;
}
.div-modal-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}
.div-input-modal{
    position: relative;
    margin-bottom: 14px;
}
.svg-modal-input{
    fill: transparent;
    stroke: #404040;
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translate(-50%, -50%);
    transition: stroke 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.input-modal:focus+.svg-modal-input{
    stroke: #fd9222;
}
.comment-form{
    outline: transparent;
    width: 263px;
    height: 91px;
    resize: none;
    border: 1.50px solid rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
    padding-left: 18px;
    padding-top: 14px;
    transition: border 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.comment-form:focus {
    border: 1.50px solid #fd9222;
}
.comment-form::placeholder{
    font-weight: 400;
    font-size: 13px;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
}
.label-privacy{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.6);
}
.form-a-privacy{
    text-decoration: underline;
    color: #fd9222;
}
.span-privacy{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid rgba(17, 17, 17, 0.14);
    width: 20px;
    height: 20px;
    fill: transparent;
    margin-right: 12px;
}
.svg-acept-privacy{
    fill: transparent;
}
.visually-hidden:checked+.label-privacy .span-privacy {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
.visually-hidden:checked+.label-privacy .svg-acept-privacy{
    fill: #fff;
}
.button-send-form{
    border-radius: 100px;
    width: 93px;
    height: 41px;
    background-color: #fd9222;
    border: none;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    margin-top: 32px;
}